<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Basics -->
  <package id="googlechrome"/>
  <package id="firefox"/>
  <package id="7zip"/>
  <package id="vlc"/>
  <package id="googledrive"/>
  <package id="qbittorrent"/>
  <!-- Gaming -->
  <package id="steam"/>
  <package id="geforce-experience"/>	  
  <package id="geforce-game-ready-driver"/>
  <!-- Coding -->
  <package id="git"/>
  <package id="dotnet4.5"/>
  <package id="python3"/>
  <package id="neovim"/>
  <package id="visualstudiocode"/>
  <package id="libreoffice"/>
</packages>
	
	
	                                  
